# macOS
.DS_Store
.AppleDouble
.LSOverride

# Node (if you add npm later)
node_modules/
npm-debug.log*
yarn-error.log*

# Editor / IDE caches
.vscode/.history/
.idea/

# Environment files
.env
.env.local

# Logs
*.log
